{namespace dc=Devcompany\Devcompanycall\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />

<f:widget.paginate objects="{users}" as="paginatedUsers" configuration="{itemsPerPage: 10, insertAbove: 0, insertBelow: 1}">
<f:for each="{paginatedUsers}" as="user">
  <f:render partial="User/UserList" arguments="{_all}" />   
</f:for>
</f:widget.paginate>
</f:section>