<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />

<h3 class="page-header page-header-center">
  Мои вопросы
  <sup><f:count subject="{user.question}" /></sup>
</h3>
<div class="order-list">    
  
  <f:if condition="{user.question}">
    <f:then>
  <f:render partial="Question/HeaderList2" />   
    <f:widget.paginate objects="{userQuestions}" as="paginatedQuestions" configuration="{itemsPerPage: 20, insertAbove: 1, insertBelow: 1}">
      <f:for each="{paginatedQuestions}" as="question">
        <div class="row question-list">
          <f:render partial="Question/QuestionList" arguments="{user : user, question : question}" /> 
        </div>
      </f:for> 
    </f:widget.paginate>    
    </f:then>
    <f:else>
      <div class="alert alert-warning"><p class="align-center">Пока нет вопросов</p></div>
    </f:else>
  </f:if>  
</div>
   
   <f:if condition="{answers}">
   <f:then>
      <h3 class="page-header page-header-center">
        Мои ответы
        <sup><f:count subject="{answers}" /></sup>
      </h3>
     <f:render partial="Answer/ProfileAnswerList" arguments="{_all}" />
    </f:then>
    <f:else>
      <div class="alert alert-warning"><p class="align-center">Пока нет ответов ни на один вопрос</p></div>
    </f:else>    
  </f:if>   

</f:section>