{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />
  <h3>Наши участники</h3>

  <f:for each="{users}" as="user">

    <div class="user-image user-list" title="Перейти на странцу пользователя {user.firstName} {user.lastName}" rel="tooltip">
      
<f:if condition="{user.image}">
  <f:then>
    <f:for each="{user.image -> v:iterator.explode(glue: 'constant:LF')}" as="img"> 
     <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: user}'}" pageUid="{settings.detailUserPageUid}">
      <f:image class="img-thumbnail" src="uploads/pics/{img -> v:iterator.last()}" width="60c" height="60c" alt="{user.firstName} {user.lastName}" />
     </f:link.page>     
    </f:for>
  </f:then>
  <f:else>
    <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: user}'}" pageUid="{settings.detailUserPageUid}">
      <f:image class="img-thumbnail" src="typo3conf/ext/devcompanyticket/Resources/Public/Images/no-user.png" width="60c" height="60c" alt="{user.firstName} {user.lastName}" />
    </f:link.page>
  </f:else>  
</f:if>          
      
      <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: user}'}" pageUid="{settings.detailUserPageUid}">
        {user.firstName} {user.lastName}
      </f:link.page>
      </div> 
      

  </f:for>

</f:section>