<f:layout name="Default" />
<f:section name="main">
  <f:security.ifAuthenticated>
    <div class="user-rate">
      Ваш рейтинг: {user.rate}
    </div>  
  </f:security.ifAuthenticated> 
</f:section>