<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />

Email: {user.email}
Email: {user.telephone}
Email: {user.address}
Email: {user.city}
Email: {user.country}
Email: {user.www}
  
<label for="comments">Статус:</label><br /> 
<f:form action="update" name="user" object="{user}" >
  <f:form.textarea class="form-control"  property="comments" rows="3" /><br /> 
  <f:form.submit class="btn btn-primary btn-lg" value="Сохранить" />
</f:form>



</f:section>