{namespace dc=Devcompany\Devcompanycall\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />

<dc:titleTag>{user.firstName} {user.lastName}</dc:titleTag>

<h1 class="page-header page-header-center">{user.firstName} {user.lastName}</h1>
  <f:render partial="User/Info" arguments="{_all}" />

    <div class="row">     
      <div class="col-md-2">
   <div class="img-thumbnail csc-textpic-imagewrap user-img">
     
<f:if condition="{user.image}">
  <f:then>
    <f:for each="{user.image -> v:iterator.explode(glue: 'constant:LF')}" as="img"> 
     <a title="{image.title}" href="{f:uri.image(src:'uploads/pics/{img -> v:iterator.last()}' maxWidth:'800c')}">
      <f:image src="uploads/pics/{img -> v:iterator.last()}" width="100c" height="100c" alt="{user.firstName} {user.lastName}" />
     </a>    
    </f:for>
  </f:then>
  <f:else>
    <f:image class="img-thumbnail" src="typo3conf/ext/devcompanyticket/Resources/Public/Images/no-user.png" width="100c" height="100c" alt="{user.firstName} {user.lastName}" />
  </f:else>  
</f:if> 
      
   </div> 

<f:render partial="User/IsOnline" arguments="{user:user}" />
<div style="margin-left: 10px;">
  <f:render partial="User/Rate" arguments="{user:user}" />  
</div>

 <!-- Large modal -->
 <f:security.ifAuthenticated>
  <f:if condition="{user.uid} == {loggedUser.uid}">
    <f:then></f:then>
    <f:else>
      <button class="btn btn-custom btn-primary form-button" data-toggle="modal" data-target=".bs-form-modal-lg" 
        title="Отправить сообщение пользователю {user.firstName} {user.lastName} (откроется в модальном окне) Ваш email анонимен." 
        rel="tooltip">Отправить <br />сообщение
      </button>
    </f:else>
  </f:if>

<div class="modal fade bs-form-modal-lg" tabindex="-1" role="dialog" 
aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-form-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="page-header page-header-center">Отправить сообщение пользователю {user.firstName} {user.lastName}</h4>    
      <f:form id="form" method="post" controller="Messsage" action="create" 
         name="newMesssage" object="{newMesssage}" arguments="{user : user}">  
        <f:form.textarea class="form-control validate[required]" placeholder="{user.firstName} {user.lastName} прочитает Ваше сообщение" 
        property="message" rows="15" /><br />
        <f:form.submit value="Отправить" class="btn btn-success" />
      </f:form>          
    </div>
  </div>
</div> 
</f:security.ifAuthenticated> 

 <f:security.ifAuthenticated>
  <br /><br /> 
  <f:if condition="{user.uid} == {loggedUser.uid}">
    <f:then></f:then>
    <f:else>
      <f:link.action action="newPrivate" pageUid="33" controller="Question" arguments="{user : user}" 
      title="Отправить персональный вопрос пользователю {user.firstName} {user.lastName}. Ваш email останется анонимен." rel="tooltip"
      class="btn btn-custom btn-primary form-button">
      Задать <br />вопрос
      </f:link.action>
    </f:else>
  </f:if>
 </f:security.ifAuthenticated> 
           
      </div>
   
 <div class="col-md-10">
  <f:if condition="{user.question}">
    <f:then>
   
   <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: user}'}" pageUid="73">
    <strong>Все вопросы пользователя {user.firstName} {user.lastName}</strong> 
   </f:link.page>
   
   <sup><f:count subject="{user.question}" /></sup>
   <div class="panel panel-default">
    <div class="panel-body">  
    
    <f:render partial="Question/HeaderList2" /> 
    <f:for each="{userQuestions}" as="question" key="number" iteration="itemIteration">
      <div class="row question-list">
        <f:render partial="Question/QuestionList" arguments="{user : user, question : question}" />
      </div>
    </f:for> 
           
    </div>
  </div> 
    </f:then>
    <f:else>
      <div class="alert alert-warning"><p class="align-center">Пока нет вопросов</p></div>
    </f:else>
  </f:if>
  
   <f:if condition="{answers}">
   <f:then>
   
    <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: user}'}" pageUid="74">
      <strong>Все ответы пользователя {user.firstName} {user.lastName}</strong> 
    </f:link.page>  
    <sup><f:count subject="{answers}" /></sup>
      <f:render partial="Answer/ProfileAnswerList" arguments="{_all}" />
    </f:then>
    <f:else>
      <div class="alert alert-warning"><p class="align-center">Пока нет ответов ни на один вопрос</p></div>
    </f:else>    
  </f:if>
           
  </div>    
 </div>

</f:section>