{namespace dc=Devcompany\Devcompanycall\ViewHelpers}
 
<h1 class="page-header page-header-center">Все вопросы пользователя 
{user.firstName} {user.lastName} <sup><f:count subject="{userQuestions}" /></sup></h1>
 
   <div class="panel panel-default">
    <div class="panel-body">     
    <f:render partial="Question/HeaderList2" /> 
    
  <f:if condition="{userQuestions} > 30">
    <f:then>
    <f:widget.paginate objects="{userQuestions}" as="paginatedQuestions" configuration="{itemsPerPage: 30, insertAbove: 1, insertBelow: 1}">
      <f:for each="{paginatedQuestions}" as="question" key="number" iteration="itemIteration">
        <div class="row question-list">       
          <f:render partial="Question/QuestionList" arguments="{user : user, question : question}" />
        </div>
      </f:for>     
    </f:widget.paginate>
    </f:then>
    <f:else>
      <f:for each="{userQuestions}" as="question" key="number" iteration="itemIteration">
        <div class="row question-list">       
          <f:render partial="Question/QuestionList" arguments="{user : user, question : question}" />
        </div>
      </f:for>
    </f:else>
  </f:if>   

    </div>
  </div> 