
<h1 class="page-header page-header-center">Все ответы пользователя 
{user.firstName} {user.lastName} <sup><f:count subject="{userAnswers}" /></sup></h1>
<f:render partial="Answer/ProfileAnswerList" arguments="{_all}" />
  