
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Edit Wall</h1>

<f:flashMessages renderMode="div" />

<f:render partial="FormErrors" arguments="{object:Wall}" />

<f:form action="update" name="wall" object="{wall}" >
<f:render partial="Wall/FormFields" arguments="{wall:wall}" />
	<f:form.submit value="Save" />
</f:form>
</f:section>