
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Wall</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_devcompanycall" >
	<tr>
		<th><f:translate key="tx_devcompanycall_domain_model_wall.subject" /></th>
		<th><f:translate key="tx_devcompanycall_domain_model_wall.message" /></th>
		<th><f:translate key="tx_devcompanycall_domain_model_wall.create_date" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{walls}" as="wall">
		<tr>
			<td><f:link.action action="show" arguments="{wall : wall}"> {wall.subject}</f:link.action></td>
			<td><f:link.action action="show" arguments="{wall : wall}"> {wall.message}</f:link.action></td>
			<td><f:link.action action="show" arguments="{wall : wall}"> {wall.createDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{wall : wall}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{wall : wall}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Wall</f:link.action>
</f:section>