
<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />
<f:render partial="FormErrors" arguments="{object:Messsage}" />


  <div class="alert alert-danger">
    <p class="align-center">Произошла ошибка при выполнении данной операции.</p>
  </div>
                  
 Через <span id="spnSeconds">10</span> секунд вы будете перенаправлены на главную страницу. 

<script type="text/javascript">
$(document).ready(function () {
       window.setInterval(function () {
          var iTimeRemaining = $("#spnSeconds").html();
          iTimeRemaining = eval(iTimeRemaining);
          if (iTimeRemaining == 0) {
             window.location.href = "/";
          }
          else {
             $("#spnSeconds").html(iTimeRemaining - 1);
          }
      }, 1000);
    });
</script>                  

</f:section>