
<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />
<f:render partial="FormErrors" arguments="{object:Messsage}" />

  <div class="alert alert-success">
    <p class="align-center">Операция выполнена успешно.</p>
  </div>
                  
<!-- <a href="/" class="btn btn-primary btn-lg active">На главную</a> -->

 Через <span id="spnSeconds">10</span> секунд вы будете перенаправлены на главную страницу. 

<script type="text/javascript">
$(document).ready(function () {
	     window.setInterval(function () {
	        var iTimeRemaining = $("#spnSeconds").html();
	        iTimeRemaining = eval(iTimeRemaining);
	        if (iTimeRemaining == 0) {
	           window.location.href = "/";
	        }
	        else {
	           $("#spnSeconds").html(iTimeRemaining - 1);
	        }
	    }, 1000);
	  });
</script>

</f:section>