
<label for="subject">
	<f:translate key="tx_devcompanycall_domain_model_wall.subject" />
</label><br />
	<f:form.textfield property="subject" /><br />
<label for="message">
	<f:translate key="tx_devcompanycall_domain_model_wall.message" />
</label><br />
	<f:form.textarea property="message" cols="40" rows="15" /><br />
<label for="createDate">
	<f:translate key="tx_devcompanycall_domain_model_wall.create_date" />
</label><br />
	<f:form.textfield property="createDate"  value="{wall.createDate->f:format.date()}" /><br />