
<table class="tx-devcompanycall" >
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_wall.subject" />
		</td>
		<td>
		{wall.subject}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_wall.message" />
		</td>
		<td>
		{wall.message}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_wall.create_date" />
		</td>
		<td>
		{wall.createDate -> f:format.date()}
		</td>
	</tr>
</table>