        <span class="list-date"><f:format.date format="%d %B %Y">{question.createDate}</f:format.date></span><br />
        <span class="list-date"><f:format.date format="H:i:s">{question.createDate}</f:format.date></span>