{namespace dc=Devcompany\Devcompanycall\ViewHelpers}

         <!-- <span class="list-date"><f:format.date format="%d %B %Y">{answer.createDate}</f:format.date></span><br />
          <span class="list-date"><f:format.date format="H:i:s">{answer.createDate}</f:format.date></span>           
          
        <span class="list-date"><f:format.date format="%d %B %Y">{question.createDate}</f:format.date></span><br />
        <span class="list-date"><f:format.date format="H:i:s">{question.createDate}</f:format.date></span> -->         
  
 <abbr class="timeago" title="<dc:format.date format="Y-m-d H:i:s">{answer.crdate}</dc:format.date>"></abbr>
 <abbr class="timeago" title="<dc:format.date format="Y-m-d H:i:s">{question.createDate}</dc:format.date>"></abbr>      