{namespace dc=Devcompany\Devcompanycall\ViewHelpers}

<label for="image">
  Загрузить изображение
</label>
<br />
(разрешенные типы файлов gif,jpg,jpeg,png Размер не более 1Мб)<br /><br />

<dc:form.upload property="image" >
  <f:if condition="{resource}">
    <f:image id="image" image="{resource}" alt="" maxWidth="250"/>
  </f:if>
</dc:form.upload><br />

<label for="video">
  Добавить ссылку на видео с Youtube, Vimeo или Dailymotion  
</label><br />

<div class="row">
  <div class="col-lg-6">
    <f:form.textfield id="video" class="form-control" property="videoId" />
  </div>  
</div>
<br />