
    <div class="form-group">
      <f:form.textfield name="searchPhrase" value="{searchPhrase}" class="form-control validate[required]" placeholder="Поиск" />
    </div> 
    <select class="form-control validate[required]" id="parentcategory" size="1" name="tx_devcompanycall_devcompanycallsearch[searchArg]">
       <option value="1">Поиск по вопросу</option>
       <option value="2">Поиск пользователя</option>
    </select>
    <button type="submit" class="btn btn-success btn-search">Найти</button>