
<label for="subject">
	<f:translate key="tx_devcompanycall_domain_model_messsage.subject" />
</label><br />
	<f:form.textfield property="subject" /><br />
<label for="message">
	<f:translate key="tx_devcompanycall_domain_model_messsage.message" />
</label><br />
	<f:form.textfield property="message" /><br />
<label for="createDate">
	<f:translate key="tx_devcompanycall_domain_model_messsage.create_date" />
</label><br />
	<f:form.textfield property="createDate"  value="{messsage.createDate->f:format.date()}" /><br />