
<table class="tx-devcompanycall" >
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_messsage.subject" />
		</td>
		<td>
		{messsage.subject}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_messsage.message" />
		</td>
		<td>
		{messsage.message}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_messsage.create_date" />
		</td>
		<td>
		{messsage.createDate -> f:format.date()}
		</td>
	</tr>
</table>