
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Appeal</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_test" >
	<tr>
		<th><f:translate key="tx_test_domain_model_appeal.subject" /></th>
		<th><f:translate key="tx_test_domain_model_appeal.message" /></th>
		<th><f:translate key="tx_test_domain_model_appeal.create_date" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{appeals}" as="appeal">
		<tr>
			<td><f:link.action action="show" arguments="{appeal : appeal}"> {appeal.subject}</f:link.action></td>
			<td><f:link.action action="show" arguments="{appeal : appeal}"> {appeal.message}</f:link.action></td>
			<td><f:link.action action="show" arguments="{appeal : appeal}"> {appeal.createDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{appeal : appeal}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{appeal : appeal}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Appeal</f:link.action>
</f:section>