
<label for="title">
	<f:translate key="tx_devcompanycall_domain_model_category.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_devcompanycall_domain_model_category.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="parentcategory">
	<f:translate key="tx_devcompanycall_domain_model_category.parentcategory" />
</label><br />
	<f:form.textfield property="parentcategory" /><br />