
<table class="tx-devcompanycall" >
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_category.title" />
		</td>
		<td>
		{category.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_category.description" />
		</td>
		<td>
		{category.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_category.parentcategory" />
		</td>
		<td>
		{category.parentcategory}
		</td>
	</tr>
</table>