{namespace dc=Devcompany\Devcompanycall\ViewHelpers}
{namespace t=Helhum\TyposcriptRendering\ViewHelpers}

    <td>
     <div class="user-image">
    <f:if condition="{answer.user.image}">
      <f:then>
        <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: answer.user}'}" pageUid="{settings.detailUserPageUid}">
          <f:image class="img-thumbnail" src="uploads/pics/{answer.user.image}" width="60c" height="60c" alt="{answer.user.firstName} {answer.user.lastName}" title="{answer.user.firstName} {answer.user.lastName}" />
        </f:link.page>
      </f:then>
      <f:else>
        <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: answer.user}'}" pageUid="{settings.detailUserPageUid}">
          <f:image class="img-thumbnail" src="typo3conf/ext/devcompanyticket/Resources/Public/Images/no-user.png" 
          width="60c" height="60c" alt="{answer.user.firstName} {answer.user.lastName}" 
          title="{answer.user.firstName} {answer.user.lastName}" />
        </f:link.page>
      </f:else>
      </f:if>
      </div>     
      
      <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: answer.user}'}" pageUid="{settings.detailUserPageUid}">
        {answer.user.firstName} {answer.user.lastName}
      </f:link.page>         
    </td> 

    <td>
         <f:format.nl2br>{answer.answer}</f:format.nl2br>
         <br />            
         <abbr class="timeago" title="<dc:format.date format="Y-m-d H:i:s">{answer.crdate}</dc:format.date>"></abbr>
          
      <f:if condition="<f:format.date format='U'>{answer.crdate}</f:format.date> > <f:format.date format='U'><dc:editDate editdate='' /></f:format.date>">
        <f:if condition="{answer.user.uid} == {user.uid}">
         &nbsp;&nbsp;
          <f:link.action pageUid="{settings.editAnswerPageUid}" action="edit" controller="Answer" arguments="{answer : answer, user : user}">
            редактировать ответ
          </f:link.action>           
          &nbsp;&nbsp;
          
          <f:link.action action="delete" 
          onclick="return confirm('Вы уверены, что хотите удалить ответ?');" 
          controller="Answer" arguments="{user : user, answer : answer}">  
          удалить ответ     
          </f:link.action> 
        
        </f:if>
      </f:if>
                    
   <f:if condition="{answer.image}">
   <br /><br />
    <div class="img-thumbnail csc-textpic-imagewrap">
      <a class="magnificpopup" title="{image.title}" href="{f:uri.image(src:'{answer.image.originalResource.originalFile.uid}' maxWidth:'800c')}">
        <f:image image="{answer.image}" alt="" maxWidth="320" />
      </a>  
    </div> 
   </f:if>
      
   <f:if condition="{answer.videoId}">
     <dc:videoUrlReplace videoId='{answer.videoId}' />    
   </f:if>      
         
     </td>  
 