{namespace dc=Devcompany\Devcompanycall\ViewHelpers}
<label for="answer">
	<f:translate key="tx_devcompanycall_domain_model_answer.answer" /> <span class="required">*</span>
</label><br />

<div class="alert alert-danger fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <p class="align-center">Вы сможете отредактировать или удалить свой ответ в течение часа.</p>
</div>  

	<f:form.textarea id="answer" placeholder="Введите текст ответа" 
	class="form-control validate[required]" property="answer" rows="8" /><br />
	
	<f:render partial="Media" arguments="{_all}"/>  