   
   <div class="panel panel-default">
    <div class="panel-body">   
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ответы</th>
          <th>Дата</th>
        </tr>
      </thead>
      <tbody>        
      
<f:if condition="{userAnswers} > 30">
  <f:then>
     <f:widget.paginate objects="{userAnswers}" as="paginatedAnswers" configuration="{itemsPerPage: 30, insertAbove: 1, insertBelow: 1}"> 
      <f:for each="{paginatedAnswers}" as="answer">
        <tr>
         <td>
           <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{question: answer.question}'}" pageUid="{settings.detailPageUid}">
            <f:format.crop maxCharacters="120" append="&nbsp;...">{answer.answer}</f:format.crop> 
           </f:link.page> 
         </td>
         <td>
          <f:render partial="Date" arguments="{answer : answer}" />         
         </td>
        </tr>
      </f:for>
    </f:widget.paginate>  
  </f:then>
  <f:else>
      <f:for each="{userAnswers}" as="answer">
        <tr>
         <td>
           <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{question: answer.question}'}" pageUid="{settings.detailPageUid}">
            <f:format.crop maxCharacters="120" append="&nbsp;...">{answer.answer}</f:format.crop> 
           </f:link.page> 
         </td>
         <td>
          <f:render partial="Date" arguments="{answer : answer}" />         
         </td>
        </tr>
      </f:for>
  </f:else>
</f:if>    
      
      </tbody>
    </table>       
    </div>
  </div>  