
<table class="tx-devcompanycall" >
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_answer.answer" />
		</td>
		<td>
		{answer.answer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_answer.create_date" />
		</td>
		<td>
		{answer.createDate -> f:format.date()}
		</td>
	</tr>
</table>