
<f:layout name="Default" />
<f:section name="main">
<h1 class="page-header page-header-center">Редактировать ответ</h1>
<f:flashMessages renderMode="div" />
<f:render partial="FormErrors" arguments="{object:Answer}" />

<f:form id="form" action="update" enctype="multipart/form-data" name="answer" object="{answer}" arguments="{user : user}">
  <f:render partial="Answer/FormFields" arguments="{answer:answer}" /> 
  <f:form.submit value="Отправить" class="btn btn-primary" />
</f:form>

<script>
  $(document).ready(function() {
    $('#form').previewForm();
  });
</script>
</f:section>