<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" /> 

<div id="ajax-results"></div>

<div class="inbox-list">
<h3 class="page-header page-header-center">Входящие сообщения <sup><f:count subject="{messsages}" /></sup></h3>
  <div class="order-list"> 
    <div class="row header-list"> 
    <div class="col-md-5"><strong>Сообщение</strong></div>
    <div class="col-md-3"><strong>Отправитель</strong></div>
    <div class="col-md-3"><strong>Дата отправки</strong></div>
    <div class="col-md-1"></div>
  </div>
  </div>
 
<f:if condition="{messsages}">
  <f:then>
<f:for each="{messsages}" as="messsage">
  <div class="row question-list item"> 
  <div class="col-md-5 col">
    <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user : user, messsage : messsage, inbox:1}'}" 
    pageUid="{settings.detailMessageInboxPageUid}">
      <f:format.crop maxCharacters="60" append="&nbsp;...">{messsage.message}</f:format.crop>
    </f:link.page>
  </div>
  <div class="col-md-3">
    <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: messsage.sender}'}" 
    pageUid="{settings.detailUserPageUid}">
      {messsage.sender.firstName} {messsage.sender.lastName}
    </f:link.page>  
  </div>
  <div class="col-md-3 col">
    <f:format.date format="d.m.Y - H:i:s">{messsage.createDate}</f:format.date>
  </div>
  <div class="col-md-1 col">
    
  <f:link.action controller="Messsage" action="delete" pageUid="64" 
    onclick="return confirm('Вы уверены, что хотите удалить сообщение?');" arguments="{user : user, messsage : messsage}"> 
      <f:image src="typo3conf/ext/devcompanycall/Resources/Public/Images/delete.png" 
      width="24" height="24" alt="Удалить сообщение" title="Удалить сообщение" />  
  </f:link.action>
   
  <!--  <f:link.action controller="Messsage" action="delete" pageUid="64" 
    format="json" pageType="{settings.ajaxPageType}" class="ajax-link"
    arguments="{user : user, messsage : messsage}">
      Ajax <f:image src="typo3conf/ext/devcompanycall/Resources/Public/Images/delete.png" 
      width="24" height="24" alt="Удалить сообщение" title="Удалить сообщение" /> 
   </f:link.action> -->
   
  </div>  
</div>
</f:for>

  </f:then>
  <f:else>
    <div class="order-list"> 
      <div class="alert alert-warning">
        <p class="align-center">Нет входяших сообщений</p>
      </div>
      </div>
  </f:else>
</f:if>
</div>

  <script>
  $('[data-toggle="confirmation"]').confirmation();
  </script>
</f:section>
