
<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />

<h3 class="page-header page-header-center">Входящие сообщения</h3>
  <div class="order-list"> 
    <div class="row header-list"> 
    <div class="col-md-9"><strong>Тема</strong></div>
    <div class="col-md-3"><strong>Дата и время сообщения</strong></div>
  </div>
  </div>
  
<f:for each="{messsages}" as="messsage">
  <div class="row question-list"> 
  <div class="col-md-9 col">
    <f:link.action action="show" arguments="{messsage : messsage}">
      {messsage.subject}
    </f:link.action>
  </div>
  <div class="col-md-3 col"><f:format.date format="d.m.Y - H:i:s">{messsage.createDate}</f:format.date></div>
</div>
</f:for>

</f:section>