<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />

<div class="panel panel-default"> 
<div class="panel-body"> 
<h3 class="page-header page-header-center">Исходящие сообщения <sup><f:count subject="{messsages}" /></sup></h3>
  <div class="order-list"> 
    <div class="row header-list"> 
    <div class="col-md-6"><strong>Сообщение</strong></div>
    <div class="col-md-3">Получатель сообщения</div>
    <div class="col-md-3"><strong>Дата отправки</strong></div>
  </div>
  </div>
  
<f:if condition="{messsages}">
  <f:then>
<f:for each="{messsages}" as="messsage">
  <div class="row question-list"> 
  <div class="col-md-6 col">
    <!-- <f:format.crop maxCharacters="120" append="&nbsp;[...]">{messsage.message}</f:format.crop> -->
  
    <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user : user, messsage : messsage, inbox:0}'}" 
    pageUid="{settings.detailMessageInboxPageUid}">
      <f:format.crop maxCharacters="60" append="&nbsp;...">{messsage.message}</f:format.crop>
    </f:link.page>
  </div>
  
  <div class="col-md-3">
    <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: messsage.recipient}'}" pageUid="{settings.detailUserPageUid}">
      {messsage.recipient.firstName} {messsage.recipient.lastName}
    </f:link.page>  
  </div>  
  
  <div class="col-md-3 col"><f:format.date format="d.m.Y - H:i:s">{messsage.createDate}</f:format.date></div>
</div>
</f:for>
  </f:then>
  <f:else>
    <div class="order-list"> 
      <div class="alert alert-warning">
        <p class="align-center">Нет исходяших сообщений</p>
      </div>
      </div>
  </f:else>
</f:if>  
  

</div>
</div>

</f:section>