{namespace dc=Devcompany\Devcompanycall\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />

<f:if condition="{inbox} == 1">
  <f:then>
  <h3 class="page-header page-header-center">
    Входящее сообщение от 
    <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: messsage.sender}'}" pageUid="{settings.detailUserPageUid}">
      {messsage.sender.firstName} {messsage.sender.lastName}
    </f:link.page>  
  </h3>
  </f:then>
  <f:else>
  <h3 class="page-header page-header-center">
    Исходящее сообщение для 
    <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: messsage.recipient}'}" pageUid="{settings.detailUserPageUid}">
      {messsage.recipient.firstName} {messsage.recipient.lastName}
    </f:link.page>  
  </h3>
  </f:else>
</f:if>
  
   <div class="panel panel-default">
    <div class="panel-body">  
      <div class="col-md-11 col"><f:format.html>{messsage.message}</f:format.html></div>
      <div class="col-md-3 col"><f:format.date format="d.m.Y - H:i:s">{messsage.createDate}</f:format.date></div>
    </div>
   </div> 
  
  <f:if condition="{messsage.reply}">  
    <f:render partial="Reply/ReplyList" arguments="{messsage : messsage, user : user}" />
  </f:if>
  <f:render partial="Reply/FormFields" arguments="{user : user, messsage : messsage, inbox : inbox}" />
</f:section>