{namespace dc=Devcompany\Devcompanycall\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />

<h1 class="page-header page-header-center">{messsage.sender.firstName} {messsage.sender.lastName}</h1>

<div class="row"> 
  <div class="col-md-2">
   <div class="img-thumbnail csc-textpic-imagewrap user-img">
    <f:if condition="{messsage.sender.image}">
      <f:then>
        <a title="{image.title}" href="{f:uri.image(src:'uploads/tx_srfeuserregister/{messsage.sender.image}' maxWidth:'800c')}">
          <f:image src="uploads/tx_srfeuserregister/{messsage.sender.image}" width="100c" height="100c" alt="{messsage.sender.name}" />
        </a>
      </f:then>
      <f:else>
        <f:image src="typo3conf/ext/devcompanyticket/Resources/Public/Images/no-user.png" width="100c" height="100c" alt="{messsage.sender.name}" />
      </f:else>
      </f:if>
   </div>   

    <f:if condition="<f:format.date format='U'>{messsage.sender.isOnline}</f:format.date> > <f:format.date format='U'><dc:currentDate currentdate='' /></f:format.date>">
      <f:then>
        <div class="btn btn-success btn-xs">Online</div>
      </f:then>
      <f:else>
        <span class="date">Был на сайте: <br />
          <abbr class="timeago" title="<dc:format.date format="Y-m-d H:i:s">{messsage.sender.lastLogin}</dc:format.date>"></abbr>        
        </span> 
      </f:else>
    </f:if> 
  </div>
  
  <div class="col-md-10">
   <div class="panel panel-default">
    <div class="panel-body">  
      <div class="col-md-11 col"><f:format.html>{messsage.message}</f:format.html></div>
      <div class="col-md-3 col"><f:format.date format="d.m.Y - H:i:s">{messsage.createDate}</f:format.date></div>
    </div>
   </div> 
  </div>
</div>


</f:section>