/*
#tabs {
  background: transparent url(../Images/bg-tabs.png) repeat 0 0;
}*/

.topuser-list {
  margin-bottom: 10px;
  border-bottom: 1px solid #F1F1F1;
  padding: 5px 0px;  
}

ul.error-parent > li {

}
ul.error > li {
  display: block !important;
  color: #ff0000;
}
.navbar-form {
 margin-bottom: 20px !important; 
}
#vk_comments {
  margin-bottom: 10px;
}
#vk_like {
  margin-bottom: 10px;
}
.rate {
  font-size: 12px;
 /* float: right;
  margin: -5px 40px 0 0;*/
}
.is-online {
  margin: 3px 0 0 -10px;
}

.typo3-messages{
	display: none;
}
/*
ul.error-parent > li {
	display: none;
}
ul.error-parent > li > ul.error > li {
	display: block !important;
}
*/

.share42init {
	margin: 12px 0 10px 0;
}

.question-count {
  font-size: 12px;
  color: #666;
  padding: 3px 0 0 0;
}
.last-td {
  text-align: center;
}

.btn-custom {
  min-width: 100px;
}
