
<label for="title">
	<f:translate key="tx_devcompanycall_domain_model_question.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_devcompanycall_domain_model_question.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="createDate">
	<f:translate key="tx_devcompanycall_domain_model_question.create_date" />
</label><br />
	<f:form.textfield property="createDate"  value="{question.createDate->f:format.date()}" /><br />
	
	
	
	              <f:render partial="Question/QuestionList" arguments="{user : user, question : question}" />
              <f:render partial="Question/UserImage" arguments="{user : user, question : question}" />