{namespace dc=Devcompany\Devcompanycall\ViewHelpers}


<div class="row">
  <div class="col-md-8">

<label for="title">
  <f:translate key="tx_devcompanycall_domain_model_question.title" /><span class="red">*</span> 
</label><br />
  <f:form.textfield class="form-control validate[required]" id="title"
   property="title" placeholder="{f:translate(key: 'tx_devcompanycall_domain_model_question.title')}" /><br />
  
  </div>
  <div class="col-md-4">

<label for="category">
 Категория <span class="red">*</span> 
</label><br />

<div class="select-outer">
<f:form.select class="form-control validate[required]" property="category" name="category" options="{category}" 
  id="category"
  prependOptionLabel="Выберите категорию"
  optionLabelField="title" 
  optionValueField="uid"  />
</div>  
  
  </div>
</div>

<label for="description">
  Описание вопроса 
</label>  <br />
  <f:form.textarea placeholder="Введите текст вопроса" id="description" property="description" class="form-control" rows="10"  />
  <br />
<label for="notice">
  Уведомлять меня об ответах на Email
</label><br />
  <f:form.checkbox property="notice" value="1" />  
  <br /><br />
  <f:render partial="Media" />  
  

