  <div class="row header-list">
    <div class="col-md-1"><strong>Ответов</strong></div>
    <div class="col-md-8"><strong>Тема</strong></div>
    <div class="col-md-1"><strong></strong></div>
    <div class="col-md-2"><strong>Автор</strong></div>
  </div> 