{namespace dc=Devcompany\Devcompanycall\ViewHelpers}
 
    <f:if condition="<f:format.date format='U'>{question.user.isOnline}</f:format.date> > <f:format.date format='U'><dc:currentDate currentdate='' /></f:format.date>">
      <f:then>
        <div class="btn btn-success btn-xs btn-online">Online</div>
      </f:then>
      <f:else>
        <span class="date">Был на сайте: 
          <abbr class="timeago" title="<dc:format.date format="Y-m-d H:i:s">{question.user.lastlogin}</dc:format.date>"></abbr>
        </span> 
      </f:else>
    </f:if>