  <f:for each="{questions}" as="question">
    <div class="row question-list">
      <f:render partial="Question/QuestionLast" arguments="{user : user, question : question}" />
      <f:render partial="Question/UserImage" arguments="{user : user, question : question}" />
    </div>
  </f:for> 