 
<dc:metaTag property="og:title" content="{question.title}" />
<dc:metaTag property="og:type" content="article" />
<dc:metaTag property="og:url" content="" useCurrentDomain="1" />
<dc:metaTag property="og:site_name" content="Obr" />
<dc:metaTag name="description" content="{question.description}" />
<dc:metaTag property="og:description" content="{question.description}" />