  <f:widget.paginate objects="{questions}" as="paginatedQuestions" configuration="{itemsPerPage: 20, insertAbove: 1, insertBelow: 1}">
  <f:for each="{paginatedQuestions}" as="question">
    <div class="row question-list">
      <f:render partial="Question/QuestionLast" arguments="{user : user, question : question}" />
      <f:render partial="Question/UserImage" arguments="{user : user, question : question}" />
    </div>
  </f:for>  
  </f:widget.paginate>  