
<table class="tx-devcompanycall" >
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_question.title" />
		</td>
		<td>
		{question.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_question.description" />
		</td>
		<td>
		{question.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_question.create_date" />
		</td>
		<td>
		{question.createDate -> f:format.date()}
		</td>
	</tr>
</table>