{namespace dc=Devcompany\Devcompanycall\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

    <div class="col-md-1 first-td col">
      <span class="badge align-center">{question.numberOfAnswers}</span>
    </div>
    <div class="col-md-8 col">
      <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{question: question}'}" pageUid="{settings.detailPageUid}">
         <v:format.case string="{question.title}" case="ucfirst">{question.title}</v:format.case>        
      </f:link.page>  <br />  
      <div class="btn btn-info btn-xs btn-category">
        <f:link.page pageUid="{question.category.link}">{question.category.title}</f:link.page>
      </div>      
     </div>
    <div class="col-md-2 col last-td">
        <!-- <abbr class="timeago" title="<dc:format.date format="Y-m-d H:i:s">{question.createDate}</dc:format.date>"></abbr> -->
        <div class="question-count">          
          <f:if condition="{question.count} == '1'">
            {question.count} просмотр
          </f:if>
          <f:if condition="{question.count} == '2'">
            {question.count} просмотра
          </f:if>
          <f:if condition="{question.count} == '3'">
            {question.count} просмотра
          </f:if>
          <f:if condition="{question.count} == '4'">
            {question.count} просмотра
          </f:if>                                               
          <f:if condition="{question.count} > '4'">
            {question.count} просмотров
          </f:if>                   
        </div>
    </div>
         