
<f:form action="search" controller="Question" name="question" object="{question}" method="POST">  
  <f:form.textfield name="searchPhrase" value="{searchPhrase}" 
  class="search" placeholder="{f:translate(key: 'tx_aagcatalog.searchPhraseText')} Search" />
  <br /><br />
  <f:form.submit value="{f:translate(key: 'tx_aagcatalog.search')} Search" />                              
</f:form>


 