  <div class="col-md-1 col">
    <div class="user-image" title="Перейти на странцу пользователя {question.user.firstName} {question.user.lastName}" rel="tooltip">
    <f:if condition="{question.user.image}">
      <f:then>
        <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: question.user}'}" pageUid="{settings.detailUserPageUid}">
          <f:image class="img-thumbnail" src="uploads/pics/{question.user.image}" width="60c" height="60c" alt="{question.user.firstName} {question.user.lastName}" />
        </f:link.page>
      </f:then>
      <f:else>
        <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: question.user}'}" pageUid="{settings.detailUserPageUid}">
          <f:image class="img-thumbnail" src="typo3conf/ext/devcompanyticket/Resources/Public/Images/no-user.png" width="60c" height="60c" alt="{question.user.firstName} {question.user.lastName}" />
        </f:link.page>
      </f:else>
      </f:if>
      </div>              
    </div>