
<f:layout name="Default" />
<f:section name="main">
  <ul class="side-menu">
    <f:for each="{categories}" as="category">
      <li>
        <f:link.page pageUid="{category.link}">{category.title}</f:link.page>
        <span class="badge item-counter">{category.numberOfQuestions}</span>
      </li>
    </f:for>
  </ul>

</f:section>