{namespace helhum=Helhum\AjaxExample\ViewHelpers}
{namespace t=Helhum\TyposcriptRendering\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace dc=Devcompany\Devcompanycall\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
<div id="ajax-results"></div>

<!--  <dc:format.nothing>
  <dc:titleTag>
    <dc:format.htmlentitiesDecode>{question.title}</dc:format.htmlentitiesDecode>
  </dc:titleTag> 
  <f:render partial="Question/Opengraph" arguments="{_all}"/>   
</dc:format.nothing> -->

<div class="row">
  <div class="col-md-4">
    <f:flashMessages renderMode="div" />
  </div>
</div>
<f:render partial="FormErrors" arguments="{object:Answer}" />
<h1 class="page-header"><v:format.case string="{question.title}" case="ucfirst">{question.title}</v:format.case></h1>
<div class="media">
    <f:if condition="{question.user.image}">
      <f:then>
          <f:link.page class="pull-left" additionalParams="{tx_devcompanycall_devcompanycall: '{user: question.user}'}" pageUid="{settings.detailUserPageUid}">
            <f:image class="img-circle img-circle-user" src="uploads/pics/{question.user.image}" width="60c" height="60c" alt="{question.user.firstName} {question.user.lastName}" title="{question.user.firstName} {question.user.lastName}" />
          </f:link.page>
      </f:then>
      <f:else>
        <f:link.page class="pull-left" additionalParams="{tx_devcompanycall_devcompanycall: '{user: question.user}'}" pageUid="{settings.detailUserPageUid}">
          <f:image class="img-circle img-circle-user" src="typo3conf/ext/devcompanyticket/Resources/Public/Images/no-user.png" width="60c" height="60c" alt="{question.user.firstName} {question.user.lastName}" title="{question.user.firstName} {question.user.lastName}" />
        </f:link.page>
      </f:else>
      </f:if>
  <div class="media-body">
    <h4 class="media-heading">
      <f:link.page class="pull-left" additionalParams="{tx_devcompanycall_devcompanycall: '{user: question.user}'}" pageUid="{settings.detailUserPageUid}">
        {question.user.firstName} {question.user.lastName}
      </f:link.page>
    </h4>  
    <f:render partial="Question/IsOnline" arguments="{question:question, user:user}" />
    <f:if condition="{question.user.rate}">
      <div class="rate">Рейтинг: {question.user.rate}</div>
    </f:if>
  </div>
   Категория: <f:link.page pageUid="{question.category.link}">{question.category.title}</f:link.page>
</div>

 <div class="panel panel-default">
  <div class="panel-body">

  <f:if condition="{question.description}">
    <f:then>
      <f:format.html>{question.description}</f:format.html>
    </f:then>
    <f:else>

    </f:else>
  </f:if>
   
   <f:if condition="{question.image}">
    <div class="img-thumbnail csc-textpic-imagewrap">
      <a class="magnificpopup" title="{image.title}" href="{f:uri.image(src:'{question.image.originalResource.originalFile.uid}' maxWidth:'800c')}">
        <f:image image="{question.image}" alt="{image.title}" width="250c" />
      </a>  
    </div> 
   </f:if>
   <f:if condition="{question.videoId}">
    <!--  <div class="responsive-video">
      <figure class="video">
        <iframe src="http://www.youtube.com/embed/{question.videoId}?wmode=transparent" width="640" height="400" frameborder="0" allowfullscreen></iframe>
      </figure> 
    </div> --> 
      
    <div class="responsive-video">
      <figure class="video">
        <iframe src="//www.youtube-nocookie.com/embed/{videoId}?rel=0" width="640" height="400" frameborder="0" allowfullscreen></iframe>
      </figure>    
    </div>
    <!-- <dc:videoUrlReplace videoId='{question.videoId}' /> -->
   </f:if>
      
   <f:render partial="Misc/Share42" arguments="{_all}" />
   <f:render partial="Misc/Vk" arguments="{_all}" />
   <f:render partial="Appeal/Create" arguments="{_all}" />

  <f:if condition="{question.numberOfAnswers} == 0">
   <f:if condition="{question.user.uid} == {user.uid}">
    <f:link.action pageUid="{settings.editQuestionPageUid}" action="edit" controller="Question" 
      arguments="{question : question, user : user}"> 
       <f:image src="typo3conf/ext/devcompanycall/Resources/Public/Images/edit-1.png" 
      width="24" height="24" alt="Редактировать" title="Редактировать" /> 
      Редактировать вопрос
    </f:link.action>
    
    
 <!-- Ajax -->   
<!-- <f:link.page pageUid="{settings.editQuestionPageUid}" 
  additionalParams="{tx_devcompanycall_devcompanycall: '{question : question, user : user}',eID: 'form4ajax'}"> 
   Ajax
</f:link.page> -->   
    
 <!-- <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{vendorName : DEVCOMPANY, action : edit, controller : Question}', eID: 'form4ajax'}">
 Ajax Link</f:link.page>  -->
 
 <!-- <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{vendorName: /\'Devcompany/\', action: /\'edit/\', 
 controller: /\'Question/\'}', eID: 'form4ajax'}">Ajax Link</f:link.page> -->

 
    <br />
    <f:link.action controller="Question" action="delete" 
    onclick="return confirm('Вы уверены, что хотите удалить вопрос?');" arguments="{user : user, question : question}"> 
      <f:image src="typo3conf/ext/devcompanycall/Resources/Public/Images/delete.png" 
      width="24" height="24" alt="Удалить" title="Удалить" />  
      Удалить вопрос
   </f:link.action>        
   </f:if>
  </f:if>  
  </div>
  </div> 
    
  <f:if condition="{question.answer}">
    <f:if condition="{question.numberOfAnswers} == 1">
      <f:then><h3>{question.numberOfAnswers} Ответ</h3></f:then>
      <f:else><h3>{question.numberOfAnswers} Ответа(ов)</h3></f:else>
    </f:if>    
    <table class="table table-striped">
      <tbody>
        <f:for each="{answers}" as="answer" key="number" iteration="itemIteration">
            <tr>
              <f:render partial="Answer/AnswerList" arguments="{answer : answer, user : user}" />     
            </tr> 
        </f:for>         
      </tbody>
    </table>  
  </f:if>
   
    <f:security.ifAuthenticated>
    <f:then>
    <f:if condition="{user.uid} == {question.user.uid}">
      <f:then>
        <div class="alert alert-danger"><p class="align-center">Вы не можете отвечать на свой вопрос</p></div>
      </f:then>
      <f:else>
        <f:form id="form" action="create" controller="Answer" enctype="multipart/form-data" 
        name="newAnswer" object="{newAnswer}" arguments="{user:user, question:question}">
          <f:render partial="Answer/FormFields" />
          <f:form.submit value="Отправить" class="btn btn-primary" />
        </f:form>             
      </f:else>
    </f:if>
    </f:then>
    <f:else>
      <div class="alert alert-warning">
        <p class="align-center">Для того, чтобы ответить на вопрос, вам необходимо <a href="profile/login/">войти в систему.</a></p>
      </div>    
    </f:else>
    </f:security.ifAuthenticated>  
  
 <script>
  $(document).ready(function() {
    $('#form').previewForm();
  });
</script>
 
</f:section>