<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />
  <f:link.action action="new" pageUid="33" controller="Question" arguments="{user:user}" class="btn btn-success btn-lg">
    Задать вопрос
  </f:link.action>
</f:section>