
<f:layout name="Default" />
<f:section name="main">
<h1>Редактировать вопрос</h1>

<f:render partial="FormErrors" arguments="{object:Question}" />

<f:form id="form" action="update" enctype="multipart/form-data"  
  name="question" object="{question}" arguments="{user : user}">
<f:render partial="Question/FormFields" arguments="{question:question, category:category, user : user}" />
	<f:form.submit class="btn btn-primary" value="Обновить" />
</f:form>

<script>
  $(document).ready(function() {
    $('#form').previewForm();
  });
</script>
</f:section>