{namespace dc=Devcompany\Devcompanycall\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">

<div class="row">
  <div class="col-md-4">
    <f:flashMessages renderMode="div" />
  </div>
</div>

<div class="order-list">
  <f:render partial="Question/HeaderList" />  

  <f:if condition="<f:count subject='{questions}' /> > {settings.list.paginate.itemsPerPage}">
    <f:then>
      <f:render partial="Question/PaginatedQuestions" arguments="{_all}" /> 
    </f:then>
    <f:else>
      <f:render partial="Question/NonPaginatedQuestions" arguments="{_all}" /> 
    </f:else>
  </f:if> 
</div>

</f:section>