{namespace dc=Devcompany\Devcompanycall\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />
<div class="order-list">
   <!-- <table class="table table-striped">
      <thead>
        <tr>
          <th>Ответов</th>
          <th>Тема</th>
          <th>Время</th>
          <th>Автор</th>
        </tr>
      </thead>
      <tbody>
        <f:for each="{questions}" as="question">
            <tr>
              <f:render partial="Question/QuestionList" arguments="{user : user, question : question}" />
              <f:render partial="Question/UserImage" arguments="{user : user, question : question}" />
            </tr> 
        </f:for>      
      </tbody>
    </table> -->
    

      <div class="row">
        <div class="col-md-2">Ответов</div>
        <div class="col-md-6">Тема</div>
        <div class="col-md-2">Время</div>
        <div class="col-md-2">Автор</div>
      </div>   
      
      <f:for each="{questions}" as="question">
      
      </f:for>
       
    
</div>

        <f:widget.paginate objects="{questions}" as="paginatedQuestion" configuration="{itemsPerPage: 3, insertAbove: 0, insertBelow: 1}">
        <f:for each="{paginatedQuestion}" as="question">
        </f:for>
        </f:widget.paginate>

</f:section>