<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />

<div class="order-list">
  <f:if condition="{questions}">
    <f:then>
    <f:render partial="Question/HeaderList" />
    <f:if condition="<f:count subject='{questions}' /> > {settings.list.paginate.itemsPerPage}">
      <f:then>
        <f:render partial="Question/PaginatedQuestions" arguments="{_all}" /> 
      </f:then>
      <f:else>
        <f:render partial="Question/NonPaginatedQuestions" arguments="{_all}" /> 
      </f:else>
    </f:if>         
    </f:then>
    <f:else>
      <div class="alert alert-warning"><p class="align-center">В этой категории пока нет вопросов. Вы можете стать первым.</p></div>
    </f:else>
  </f:if>
</div>

 <!--  <f:if condition="{questions.private}">
  <f:then>
   
  </f:then>
  <f:else>
  
  </f:else>
  </f:if> -->

</f:section>

