
<f:layout name="Default" />
<f:section name="main">
<h1 class="page-header page-header-center">{user.firstName} {user.lastName} получит ваш вопрос</h1>  
<div class="alert alert-danger fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <p>Это персональный вопрос и он будет скрыт от всех пользователей. 
    Однако {user.firstName} {user.lastName}, при желанию сможет его опубликовать.</p>
</div>  

<div class="row">
  <div class="col-md-4">
    <f:flashMessages renderMode="div" />
  </div>
</div>

<f:render partial="FormErrors" arguments="{object:Question}" />

<f:form id="form" action="createPrivate" enctype="multipart/form-data" name="newQuestion" object="{newQuestion}" arguments="{user : user}">
<f:render partial="Question/FormFields" arguments="{category:category}" />
  <f:form.submit class="btn btn-primary" value="Отправить" />
</f:form>

<script>
  $(document).ready(function() {
    $('#form').previewForm();
  });
</script>

</f:section>