<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />

<f:if condition="{searchArg} == 0">
  <h1 class="page-header page-header-center">Поиск по сайту</h1>
  <f:form method="post" action="search" controller="Question" pageUid="{settings.searchPageUid}" name="search" class="navbar-form text-center" id="search">
    <f:render partial="SearchForm" arguments="{_all}" />
  </f:form>  
  <div class="row">
    <div class="alert alert-danger"> 
      <p class="align-center">Введите параметры поиска</p>
    </div>
  </div>
</f:if>

<f:if condition="{searchArg} == {settings.searchRequestByQuestion}">
  <h1 class="page-header page-header-center">Результаты поиска</h1>
  <f:form method="post" action="search" controller="Question" pageUid="{settings.searchPageUid}" name="search" class="navbar-form text-center" id="search">
    <f:render partial="SearchForm" arguments="{_all}" />
  </f:form> 
  <h4 class="-page-header page-header-center">Результаты поиска по запросу "{searchPhrase}"</h4>
  <br />
<div class="order-list">
  <f:render partial="Question/HeaderList" />  
  <f:for each="{questions}" as="question">
    <div class="row question-list">
      <f:render partial="Question/QuestionList" arguments="{user : user, question : question}" />
      <f:render partial="Question/UserImage" arguments="{user : user, question : question}" />
    </div>
  </f:for>  
</div> 
</f:if>

<f:if condition="{searchArg} == {settings.searchRequestByUser}">
  <h1 class="page-header page-header-center">Результаты поиска</h1>
  <f:form method="post" action="search" controller="Question" pageUid="{settings.searchPageUid}" name="search" class="navbar-form text-center" id="search">
    <f:render partial="SearchForm" arguments="{_all}" />
  </f:form> 
  <h4 class="-page-header page-header-center">Результаты поиска пользователя "{searchPhrase}"</h4>
  <br />
  <f:for each="{users}" as="user">
    <f:render partial="User/UserList" arguments="{_all}" /> 
  </f:for>  
</f:if>

</f:section>