<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />
  <f:form method="post" action="search" controller="Question" pageUid="{settings.searchPageUid}" name="search" 
  class="navbar-form -navbar-right" id="search">
    <f:render partial="SearchForm" arguments="{_all}" /> 
  </f:form>
</f:section>  