    <div class="share42init" data-url="http://{settings.domain}/{f:uri.page(pageUid: 49, additionalParams: {tx_devcompanycall_devcompanycall: '{question: question}'})}" data-title="{question.title}"></div>
    <script type="text/javascript" src="typo3conf/ext/devcompanycall/Resources/Public/share42/share42.js"></script> 