{namespace dc=Devcompany\Devcompanycall\ViewHelpers}
<div id="vk_comments"></div>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 10, width: "665", attach: "*"},window.location.toString().replace(/обращайся.рф/g,"xn--80aab8avnk5dzc.xn--p1ai"));
</script>

<div id="vk_like"></div>
<div class="clear"></div>
<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "button"},window.location.toString().replace(/обращайся.рф/g,"xn--80aab8avnk5dzc.xn--p1ai"));
</script>
