
<label for="username">
	<f:translate key="tx_devcompanycall_domain_model_user.username" />
</label><br />
	<f:form.textfield property="username" /><br />
<label for="email">
	<f:translate key="tx_devcompanycall_domain_model_user.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="firstName">
	<f:translate key="tx_devcompanycall_domain_model_user.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_devcompanycall_domain_model_user.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="lastlogin">
	<f:translate key="tx_devcompanycall_domain_model_user.lastlogin" />
</label><br />
	<f:form.textfield property="lastlogin" /><br />
<label for="isOnline">
	<f:translate key="tx_devcompanycall_domain_model_user.is_online" />
</label><br />
	<f:form.textfield property="isOnline" /><br />
<label for="image">
	<f:translate key="tx_devcompanycall_domain_model_user.image" />
</label><br />
	<f:form.textfield property="image" /><br />