 {namespace dc=Devcompany\Devcompanycall\ViewHelpers}
 
 <div class="panel panel-default">
  <div class="panel-body">
  
  <f:if condition="{user.gender} == '1' ">
    <f:then>
      <strong>Присоединилась к нам: </strong> 
    </f:then>
    <f:else>
      <strong>Присоединился к нам: </strong> 
    </f:else>
  </f:if>
  <abbr class="timeago" title="<dc:format.date format="Y-m-d H:i:s">{user.crdate}</dc:format.date>"></abbr>    
  <br />  
  
    <f:if condition="{user.dateOfBirth}">
      <strong>Дата рождения:</strong>  
      <f:format.date format="%d %B %Y">@{user.dateOfBirth}</f:format.date>
      <br />
    </f:if>   
  
  <!-- <f:if condition="{user.dateOfBirth}">
    <strong>Возраст: </strong>
    <f:format.date format="Y-m-d">@{user.dateOfBirth}</f:format.date>
     {user.dateOfBirth->f:format.date()} ({user.age} лет) 
    <br />
  </f:if> -->
  
  <f:if condition="{user.question}">
    <strong>Всего вопросов: </strong>
    <f:count subject="{user.question}" />
    <br />  
  </f:if>
  
  <f:if condition="{answers}">
    <strong>Всего ответов: </strong>
    <f:count subject="{answers}" />
    <br />
  </f:if>
  
   <f:if condition="{user.comments}">
    <strong>О себе:</strong> 
     <i>{user.comments}</i>
     <br />
   </f:if>
       
    <f:if condition="{user.www}">
      <strong>Вебсайт:</strong> 
      <f:link.external uri="{user.www}" target="_blank">{user.www}</f:link.external>  
      <br />
    </f:if> 
    
    <f:if condition="{user.twitterId}">
      <strong>Twitter:</strong> 
      <f:link.external uri="{user.twitterId}" target="_blank">{user.twitterId}</f:link.external>  
      <br />
    </f:if>   
       
    <f:if condition="{user.skypeId}">
      <strong>Skype:</strong>  
      <a href="tel:{user.skypeId}">{user.skypeId}</a>
      <br />
    </f:if>   
    
    <f:if condition="{user.vkId}">
      <strong>В контакте:</strong> 
      <f:link.external uri="{user.vkId}" target="_blank">{user.vkId}</f:link.external>  
      <br />
    </f:if> 
    
    <f:if condition="{user.facebookId}">
      <strong>Facebook:</strong> 
      <f:link.external uri="{user.facebookId}" target="_blank">{user.facebookId}</f:link.external>  
      <br />
    </f:if>                  

    <f:if condition="{user.city}">
      <strong>Город:</strong>  
      {user.city}
      <br />
    </f:if>
    <f:if condition="{user.zip}">
      <strong>Индекс:</strong>  
      {user.zip}
      <br />
    </f:if> 
    <f:if condition="{user.address}">
      <strong>Адрес:</strong>  
      {user.address}
      <br />
    </f:if>    
    <f:if condition="{user.telephone}">
      <strong>Телефон:</strong>  
      {user.telephone}
      <br />
    </f:if>               
  </div>
</div> 