
<table class="tx-devcompanycall" >
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_user.username" />
		</td>
		<td>
		{user.username}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_user.email" />
		</td>
		<td>
		{user.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_user.first_name" />
		</td>
		<td>
		{user.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_user.last_name" />
		</td>
		<td>
		{user.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_user.lastlogin" />
		</td>
		<td>
		{user.lastlogin}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_user.is_online" />
		</td>
		<td>
		{user.isOnline}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_devcompanycall_domain_model_user.image" />
		</td>
		<td>
		{user.image}
		</td>
	</tr>
</table>