<f:if condition="{user.image}">
  <f:then>
    <f:for each="{user.image -> v:iterator.explode(glue: 'constant:LF')}" as="img"> 
     <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: user}'}" pageUid="{settings.detailUserPageUid}">
      <f:image class="img-thumbnail" src="uploads/pics/{img -> v:iterator.last()}" width="106c" height="106c" alt="{user.firstName} {user.lastName}" />
     </f:link.page>     
    </f:for>
  </f:then>
  <f:else>
    <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: user}'}" pageUid="{settings.detailUserPageUid}">
      <f:image class="img-thumbnail" src="typo3conf/ext/devcompanyticket/Resources/Public/Images/no-user.png" width="106c" height="106c" alt="{user.firstName} {user.lastName}" />
    </f:link.page>
  </f:else>  
</f:if>


    <f:if condition="{user.image}">
      <f:then>
        <a title="{image.title}" href="{f:uri.image(src:'uploads/pics/{user.image}' maxWidth:'800c')}">
          <f:image src="uploads/pics/{user.image}" width="100c" height="100c" alt="{user.name}" />
        </a>
      </f:then>
      <f:else>
        <f:image src="typo3conf/ext/devcompanyticket/Resources/Public/Images/no-user.png" width="100c" height="100c" alt="{user.name}" />
      </f:else>
      </f:if>