{namespace dc=Devcompany\Devcompanycall\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
  <div class="row topuser-list">
    <div class="col-md-2">
          <div class="user-image user-list" title="Перейти на странцу пользователя {user.firstName} {user.lastName}" rel="tooltip">


<f:if condition="{user.image}">
  <f:then>
    <f:for each="{user.image -> v:iterator.explode(glue: 'constant:LF')}" as="img"> 
     <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: user}'}" pageUid="{settings.detailUserPageUid}">
      <f:image class="img-thumbnail" src="uploads/pics/{img -> v:iterator.last()}" width="106c" height="106c" alt="{user.firstName} {user.lastName}" />
     </f:link.page>     
    </f:for>
  </f:then>
  <f:else>
    <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: user}'}" pageUid="{settings.detailUserPageUid}">
      <f:image class="img-thumbnail" src="typo3conf/ext/devcompanyticket/Resources/Public/Images/no-user.png" width="106c" height="106c" alt="{user.firstName} {user.lastName}" />
    </f:link.page>
  </f:else>  
</f:if>               

      </div> 
    </div>
    <div class="col-md-2">
      <f:link.page additionalParams="{tx_devcompanycall_devcompanycall: '{user: user}'}" pageUid="{settings.detailUserPageUid}">
        {user.firstName} {user.lastName}
    </f:link.page>
      <div class="is-online">
        <f:render partial="User/IsOnline" arguments="{user:user}" />
      </div>  
      <f:render partial="User/Rate" arguments="{user:user}" />
    </div>
    <!--  <div class="col-md-2" style="margin-top: 10px;">
      <f:render partial="User/IsOnline" arguments="{user:user}" />
    </div> -->   
    <div class="col-md-8">
           <!-- Вопросов: <f:count subject="{user.question}" /> -->
      <f:if condition="{user.comments}">
        <strong>О Себе:</strong> 
          <i><f:format.crop maxCharacters="80" append="&nbsp;...">{user.comments}</f:format.crop></i>
      </f:if>
    </div>    
  </div>