<br />

<f:if condition="{inbox} == 1">
  <f:then>
    <f:form id="form" action="create"  name="newReply" controller="Reply" object="{newReply}" arguments="{user : user, messsage : messsage}">
      <label for="reply">Продолжить переписку: </label> <span class="red">*</span>  <br /> 
      <f:form.textarea placeholder="Введите текст сообщения для {messsage.sender.firstName} {messsage.sender.lastName}" 
      id="reply" class="form-control validate[required]" property="reply" rows="5" /><br />
      <f:form.submit value="Создать" class="btn btn-success" />
    </f:form>
  </f:then>
  <f:else>
    <f:form id="form" action="create"  name="newReply" controller="Reply" object="{newReply}" arguments="{user : user, messsage : messsage}">
      <label for="reply">Продолжить переписку: </label> <span class="red">*</span>  <br /> 
      <f:form.textarea placeholder="Введите текст сообщения для {messsage.recipient.firstName} {messsage.recipient.lastName}" 
      id="reply" class="form-control validate[required]" property="reply" rows="5" /><br />
      <f:form.submit value="Создать" class="btn btn-success" />
    </f:form>
  </f:else>
</f:if>
   
<script>
  $(document).ready(function() {
    $('#form').previewForm();
  });
</script>  