<div id="ajax-reply-results"></div>

<h4 class="page-header page-header-center">Продолжение переписки</h4>  
 <div class="panel-group" id="accordion">
  <f:for each="{messsage.reply}" as="reply" key="number" iteration="itemIteration">
   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{number}">
          <f:format.crop maxCharacters="100" append="&nbsp;...">
            {reply.reply}
          </f:format.crop>  
        </a>
      </h4>
    </div>
    <div id="collapse{number}" class="panel-collapse collapse {f:if(condition: itemIteration.isFirst, then: 'in')}">
      <div class="panel-body">
        <div class="row header-list">
          <div class="col-md-5"><strong>Сообщение</strong></div>
          <div class="col-md-3"><strong>Время</strong></div>
          <div class="col-md-3"><strong>Автор</strong></div>
        </div> 
        
        <div class="row">
          <div class="col-md-5"><f:format.html>{reply.reply}</f:format.html></div>
          <div class="col-md-3"><f:format.date format="d.m.Y - H:i:s">{reply.createDate}</f:format.date></div>
          <div class="col-md-3">
            <f:link.page class="pull-left" additionalParams="{tx_devcompanycall_devcompanycall: '{user: reply.user}'}" pageUid="{settings.detailUserPageUid}">
              {reply.user.firstName} {reply.user.lastName}
            </f:link.page>          
          </div>
          
  <div class="col-md-1 col">
   <f:link.action controller="Reply" action="delete" 
    onclick="return confirm('Вы уверены, что хотите удалить сообщение?');" arguments="{user : user, reply : reply}"> 
      <f:image src="typo3conf/ext/devcompanycall/Resources/Public/Images/delete.png" 
      width="24" height="24" alt="Удалить" title="Удалить" />  
   </f:link.action>
   
   
   <!-- <f:link.action controller="Reply" action="delete" pageUid="61" 
    format="json" pageType="{settings.ajaxPageType}" class="ajax-reply-link"
    arguments="{user : user, messsage : messsage}">
      <f:image src="typo3conf/ext/devcompanycall/Resources/Public/Images/delete.png" 
      width="24" height="24" alt="Удалить сообщение" title="Удалить сообщение" /> 
   </f:link.action>  -->  
   
  </div>           
          
        </div>        
        
      </div>
    </div>
  </div> 
  </f:for> 
  </div>