 <f:security.ifAuthenticated>
  <f:if condition="{question.user.uid} == {user.uid}">
    <f:then></f:then>
    <f:else>
      <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target=".bs-form-modal-lg" 
        title="Пожаловаться на вопрос от {question.user.firstName} {question.user.lastName} (откроется в модальном окне) Ваш email анонимен." 
        rel="tooltip">Пожаловаться
      </button>
    </f:else>
  </f:if>
<div class="modal fade bs-form-modal-lg" tabindex="-1" role="dialog" 
aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-form-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="page-header page-header-center">Пожаловаться на вопрос от {question.user.firstName} {question.user.lastName}</h4>    
      <f:form id="appeal" method="post" controller="Appeal" action="create" pageUid="69"
         name="newAppeal" object="{newAppeal}" arguments="{user : user, question : question}">  
        <f:form.textarea class="form-control validate[required]" placeholder="Введите текст жалобы на вопрос \"{question.title}\"" 
        property="message" rows="15" /><br />
        <f:form.submit value="Отправить" class="btn btn-success" />
      </f:form>          
    </div>
  </div>
</div> 
</f:security.ifAuthenticated>