
<label for="subject">
	<f:translate key="tx_test_domain_model_appeal.subject" />
</label><br />
	<f:form.textfield property="subject" /><br />
<label for="message">
	<f:translate key="tx_test_domain_model_appeal.message" />
</label><br />
	<f:form.textarea property="message" cols="40" rows="15" /><br />
<label for="createDate">
	<f:translate key="tx_test_domain_model_appeal.create_date" />
</label><br />
	<f:form.textfield property="createDate"  value="{appeal.createDate->f:format.date()}" /><br />