
<table class="tx-test" >
	<tr>
		<td>
			<f:translate key="tx_test_domain_model_appeal.subject" />
		</td>
		<td>
		{appeal.subject}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_test_domain_model_appeal.message" />
		</td>
		<td>
		{appeal.message}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_test_domain_model_appeal.create_date" />
		</td>
		<td>
		{appeal.createDate -> f:format.date()}
		</td>
	</tr>
</table>